/** @define ContactForm */

.ContactForm {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  z-index: 3;
}

.ContactForm__form {
  background-clip: border-box;
  background-color: $white;
  box-shadow: 0 0 10px rgba($primary, 0.25);
  color: $primary;
  max-height: 594px;
  max-width: 420px;
  opacity: 0;
  padding: 2em;
  transform: scale(1.2);
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;
  width: calc(100vw - 3rem - 40px);
}

.ContactForm__label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.ContactForm__text-field {
  background-clip: padding-box;
  background-color: $white;
  border-radius: 0;
  border: $border-width solid $border-color;
  color: $primary;
  display: block;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  resize: none;
  transition: border 0.2s;

  &:focus {
    border: $border-width solid $body-background-color;
    outline: none;
  }
}

.ContactForm__submit {
  align-self: flex-end;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 1rem;
  width: auto;
}

.ContactForm__submit-text {
  position: relative;
}

.ContactForm__close {
  border: 0;
  display: none;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 4em;
}

.ContactForm__close,
.ContactForm__submit {
  background: $primary;
  color: $white;

  &:hover,
  &:focus {
    background: $body-background-color;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s;
  }
}

.ContactForm--toggled {
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
  pointer-events: auto;

  .ContactForm__form {
    opacity: 1;
    transform: scale(1);
    display: flex;
    flex-direction: column;
  }

  .ContactForm__close {
    display: block;
  }
}
