/** @define ContactForm */

@keyframes eliminate-fade {
  to {
    visibility: visible;
  }
}

$form-height: 594px;

.ContactForm {
  align-items: center;
  animation: eliminate-fade 0s 0.3s 1 forwards;
  backdrop-filter: blur(1rem);
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  pointer-events: none;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  z-index: 3;

  @media screen and (min-height: $form-height) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}

$dog-ear-size: 4rem;

.ContactForm__form {
  background-color: $white;
  box-shadow: 0 0 10px rgba($primary, 0.25);
  box-sizing: border-box;
  clip-path: polygon(
    0 0,
    calc(100% - #{$dog-ear-size}) 0,
    100% $dog-ear-size,
    100% 100%,
    0 100%
  );
  color: $primary;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  max-height: $form-height;
  max-width: 420px;
  padding: 4rem 2rem;
  position: relative;
  text-align: left;
  transform: scale(1.2);
  transition: transform 0.3s;
  width: 98vw;
  will-change: transform;
}

.ContactForm__close {
  background: $white;
  border: 0;
  box-shadow: 0 3px 5px rgba(#000, 0.25);
  box-sizing: border-box;
  display: none;
  font-size: 1.5rem;
  font-weight: bold;
  height: $dog-ear-size;
  line-height: 5rem;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  text-align: left;
  text-decoration: none;
  top: 0;
  transition: background-color 0.2s, color 0.2s;
  width: $dog-ear-size;

  &:hover,
  &:focus {
    background: $body-background-color;
    color: $white;
    outline: none;
    text-decoration: none;
  }
}

.ContactForm__label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.ContactForm__text-area {
  min-height: 6rem;
}

.ContactForm__text-field,
.ContactForm__text-area {
  background-clip: padding-box;
  background-color: transparent;
  border: $border-width solid $border-color;
  border-radius: 0;
  color: $primary;
  display: block;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  resize: none;
  transition: border 0.2s;

  &:focus {
    border: $border-width solid $body-background-color;
    outline: none;
  }
}

.ContactForm__submit {
  align-self: flex-end;
  background: $primary;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 1rem;
  transition: background-color 0.2s;
  width: auto;

  &:hover,
  &:focus {
    background: $body-background-color;
    outline: none;
    text-decoration: none;
  }
}

.ContactForm__submit-text {
  position: relative;
}

.ContactForm--toggled {
  background: rgba(0, 0, 0, 0.25);
  opacity: 1;
  pointer-events: auto;

  .ContactForm__form {
    transform: scale(1);
  }

  .ContactForm__close {
    display: block;
  }
}
