/** @define Header */

.Header {
  @extend .anim-fade-in;

  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
}

.Header__logo {
  display: block;
  flex-grow: 1;
  font-size: 2rem;
  line-height: 3rem;
  transform: translateX(2rem);
  transition: transform 0.5s;

  @media screen and (max-width: $breakpoint) {
    margin-left: 0;
    transform: translateX(0);
  }
}
