/** @define Link */

.Link {
  background: $link-bg;
  color: $link-color;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;

  .Link__content {
    position: relative;

    &::after {
      border-bottom: 0.1em solid $link-color;
      bottom: 0;
      content: '';
      display: block;
      left: 0;
      position: absolute;
      transition: width 0.2s ease;
      width: 0;
      will-change: width;
    }
  }

  &:hover,
  &:focus {
    color: $link-color;
    outline: none;
    text-decoration: none;

    .Link__content::after {
      width: 100%;
    }
  }
}
