/** @define Link */

.Link {
  background: $link-bg;
  margin-right: -0.2em;
  display: inline-block;
  color: $link-color;
  text-transform: uppercase;
  text-decoration: none;

  .Link__content {
    position: relative;
    &:after {
      content: '';
      display: block;
      border-bottom: 0.1em solid $link-color;
      width: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: width 0.2s ease;
      will-change: width;
    }
  }

  &:hover,
  &:focus {
    color: $link-color;
    outline: none;
    text-decoration: none;

    .Link__content:after {
      width: 100%;
    }
  }
}
