/** @define MenuToggle */

.MenuToggle {
  @extend .Link;

  display: none;
  opacity: 0;
  pointer-events: none;
  top: 3.5rem;
  right: 2.25rem;
  position: absolute;
  border: none;
  font-size: 2rem;
  line-height: 2rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  text-align: center;
  z-index: 2;

  @media screen and (max-width: $breakpoint) {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (max-width: $breakpoint-tiny) {
    right: 1rem;
  }

  &--off {
    display: none;
  }
}

.MenuToggle--on--toggled {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

.MenuToggle--off--toggled {
  @media screen and (max-width: $breakpoint) {
    display: block;
  }
}
