/** @define MenuToggle */

.MenuToggle {
  @extend .Link;

  border: none;
  cursor: pointer;
  display: none;
  font-size: 2rem;
  height: 3rem;
  line-height: 3rem;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 3.5rem;
  text-align: center;
  top: -6rem;
  transition: transform 0.2s ease-out;
  user-select: none;
  width: 3rem;
  z-index: 2;

  &:hover {
    transform: scaleY(1.25);
  }

  @media screen and (max-width: $breakpoint) {
    display: block;
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (max-width: $breakpoint-tiny) {
    right: 1rem;
  }

  &--off {
    display: none;
  }
}

.MenuToggle--on--toggled {
  @media screen and (max-width: $breakpoint) {
    display: none;
  }
}

.MenuToggle--off--toggled {
  @media screen and (max-width: $breakpoint) {
    display: block;
  }

  &:hover {
    transform: scaleY(0.75);
  }
}
