/** @define Page */

.Page {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);
  overflow: hidden;
  padding: 3rem 2rem;
  contain: content;

  @media screen and (max-width: $breakpoint-tiny) {
    padding: 3rem 1rem;
  }
}
