/** @define Scrollbar */

.Scrollbar {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: $primary;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    outline: none;
  }
}
