<div class="ContactForm" id="contact">
  <form
    class="ContactForm__form"
    method="POST"
    action="https://formspree.io/%63%6F%6E%74%61%63%74@%74%61%74%75%61%72%76%65%6C%61%2E%63%6F%6D"
  >
    <a class="ContactForm__close" href="#"
      ><span class="ContactForm__close-text">&#10005;</span></a
    >
    <h2>Contact me</h2>

    <label class="ContactForm__label" for="name">Your name</label>
    <input
      class="ContactForm__text-field"
      type="text"
      name="name"
      id="name"
      required
    />

    <label class="ContactForm__label" for="email">Your email address</label>
    <input
      class="ContactForm__text-field"
      type="text"
      name="email"
      id="email"
      required
    />

    <label class="ContactForm__label" for="message">Your message to me</label>
    <textarea
      class="ContactForm__text-field"
      name="message"
      id="message"
      rows="8"
      required
    ></textarea>

    <button class="ContactForm__submit" type="submit">
      <span class="ContactForm__submit-text">Send</span>
    </button>
  </form>
</div>
