<div class="contact" id="contact">
  <form method="POST" action="https://formspree.io/%63%6F%6E%74%61%63%74@%74%61%74%75%61%72%76%65%6C%61%2E%63%6F%6D">
    <a class="close" href="#"><span>&#10005;</span></a>
    <h2>Contact me</h2>

    <label for="name">Your name</label>
    <input type="text" name="name" id="name" required/>

    <label for="email">Your email address</label>
    <input type="text" name="email" id="email" required/>

    <label for="message">Your message to me</label>
    <textarea name="message" id="message" rows="8" required></textarea>

    <button type="submit">
      <span>Send</span>
    </button>
  </form>
</div>
