<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{% if page.frontpage %}{{ site.title }}{% else %}{{ page.title }} - {{ site.title }}{% endif %}</title>
<meta name="description" content="{{ page.description }}">


<!-- Icons -->
<meta name="theme-color" content="#004e92">
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta itemprop="image" content="{{ "/assets/img/image.png" | absolute_url }}">


<!-- OpenGraph -->
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ page.title }} - {{ site.title }}">
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip | strip_html }}{% elsif page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:image" content="{{ "/assets/img/image.png" | absolute_url }}">


<!-- Styles -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
<link rel="stylesheet" type="text/css" media="screen" href="{{ "/assets/css/style.css" | absolute_url }}" />
