body
  background: $body-bg
  color: $body-color
  margin: 0

.page
  padding: 3rem 2rem
  display: flex
  flex-direction: column
  min-height: calc(100vh - 6rem)
  overflow: hidden
  @media screen and (max-width: $breakpoint-tiny)
    padding: 3rem 1rem

.content-container
  flex-grow: 1
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

.title
  margin: 2rem 0
  text-align: center
  font-size: 6rem
  font-weight: bold
  line-height: 1.2em
  margin-left: -100%
  margin-right: -100%
  transition: all 0.3s
  @media screen and (max-width: $breakpoint)
    font-size: 4rem
  @media screen and (max-width: $breakpoint-tiny)
    font-size: 3rem

.content
  text-align: center
  font-size: 1.25rem
  line-height: 1.8em

footer
  color: dark
  text-align: center

$link-bg:     transparent
$link-color:  $primary

a
  background: $link-bg
  padding: 0.2em
  color: $link-color
  text-transform: uppercase
  text-decoration: none
  span
    position: relative
    &:after
      content: ''
      display: block
      border-bottom: 0.1em solid $link-color
      width: 0
      position: absolute
      left: 0
      bottom: 0
      transition: 0.2s ease
  &:hover,
  &:focus
    color: $link-color
    outline: none
    text-decoration: none
    transition: all 0.2s
    outline: none
    span:after
      width: 100%

p a
  white-space: nowrap
  padding: 0.2rem
