/* 

  Navigation styles
*/

header {
  margin-top: -0.5rem;
}

.navbar {
  @extend .p-0;
  z-index: 110;
  margin: auto;
}

.site-logo {
  @extend .navbar-brand;
  display: block;
  position: relative;
  font-weight: bold !important;
  font-family: "Nunito Sans", sans-serif;
  height: 100%;
  letter-spacing: 0.075em;
  transition: all 0.2s;
  span {
    position: relative;
    &:after {
      content: '';
      display: block;
      border-bottom: 2px solid theme-color("light");
      width: 0;
      position: absolute;
      left: 0;
      bottom: -2px;
      transition: 0.2s ease;
    }
  }
  &:hover {
    text-decoration: none;
    transition: all 0.2s;
    opacity: 1;
    span:after {
      width: 100%;
    }
  }
}

.main-nav {
  .nav-item {
    @extend .p-0;
    @extend .btn;
    @extend .border-0;
    @extend .text-left;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    a {
      @extend .py-md-4;
      @extend .px-3;
      opacity: 0.8;
      color: theme-color("light") !important;
      span {
        position: relative;
        i {
          @extend .pr-2;
        }
        &:after {
          content: '';
          display: block;
          border-bottom: 2px solid theme-color("light");
          width: 0;
          position: absolute;
          left: 0;
          bottom: -2px;
          transition: 0.2s ease;
        }
      }
    }
    &:hover {
      transition: all 0.2s;
      a {
        opacity: 1;
        span:after {
          width: 100%;
        }
      }
    }
    &.active a {
      opacity: 1;
    }
  }
}
