/** @define Navigation */

.Navigation {
  display: flex;
  flex-direction: row;
  padding-right: 1.5rem;
  font-size: 1rem;
  transition: all 0.5s;
  opacity: 0;
  pointer-events: none;

  @media screen and (min-width: $breakpoint) {
    opacity: 1;
    pointer-events: auto;
  }
}

.Navigation--mobile {
  display: flex;
  flex-direction: column;
  height: 0;
  margin-top: 0;
  opacity: 0;
  pointer-events: none;
  box-shadow: inset 0 0 10px rgba($body-color, 0.25);
  transition: all 0.5s;
  overflow: hidden;

  @media screen and (max-width: $breakpoint) {
    height: 0;
    margin: 0 -3.5rem;
    padding: 0;
    opacity: 1;
  }
}

.Navigation__list {
  display: flex;
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-size: 1.25rem;
}

.Navigation .Navigation__list {
  flex-direction: row;
}

.Navigation--mobile .Navigation__list {
  flex-direction: column;
  transition: all 0.5s;
  pointer-events: none;
}

.Navigation__list-item {
  display: none;
  margin-left: 0.5em;

  @media screen and (min-width: $breakpoint) {
    display: inline;
  }
}

.Navigation--mobile .Navigation__list-item {
  align-self: flex-end;
  margin: 0 2rem;
  padding: 1.5rem 2.5rem;
  line-height: 0;
  transition: all 0.5s;
  display: block;
  flex-grow: 1;
}

.Navigation--mobile--toggled {
  @media screen and (max-width: $breakpoint) {
    height: calc(130px + 4rem);
    padding: 2rem 0;

    .Navigation__list {
      pointer-events: auto;
    }
  }
}
