$white: #f5f5f5;
$primary: #040f3d;

$body-background-color: #26a0da;
$body-background-image: linear-gradient(160deg, #57d6d6 0%, #26a0da 100%);
$body-color: $white;

$border-color: rgba($primary, 0.25);
$border-width: 2px;

$link-bg: transparent;
$link-color: $primary;

$font-family-sans-serif: 'Raleway', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$breakpoint: 768px;
$breakpoint-tiny: 359px;
