<div class="blurb">
  <a class="blurb-content" href="{{ include.url | absolute_url }}">
    <div class="blurb-image">
      {% if include.image %}
      <img src="{{ include.image | absolute_url }}"/>
      {% else %}
      <div class="placeholder {% if include.color %}bg-{{ include.color }}{% else %}bg-secondary{% endif %}"></div>
      {% endif %}
    </div>
    <div class="blurb-text">
      {% if include.date %}
      <p class="timestamp">{{ include.date | date: "%Y-%m-%d" }}
      {% endif %}
      <h3>{{ include.title }}</h3>
      {% if include.text %}
      <p>{{ include.text | strip_html }}</p>
      {% endif %}
      </p>
    </div>
  </a>
</div>
