<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
  <div class="page" id="menu">
    {% include header.html %}
    <div class="content-container">
      <h1 class="title anim-fade-in-and-condense anim-delay-1">developer<br><span class="title__second-line"><span class="title__ampersand">&</span> designer</span></h1>
      <div class="content anim-fade-in anim-delay-1">
        {{content}}
      </div>
    </div>
    {% include footer.html %}
  </div>
  {% include contact.html %}
</body>
</html>
